.l-container {
    max-width:1270px;
    margin:0 auto;
    box-sizing:border-box;
    padding:0 15px;
}

.l-page-header {
    padding-top:25px;
    padding-bottom:15px;
    background: #ffffff;
}

.l-row {
    margin:0 -10px;
    overflow:hidden;
}

.l-row--all-tokens {
    padding-top:40px;
}

.l-tri-col {
    box-sizing:border-box;
    padding:0 10px;
    width:33.33333%;
    float:left;
}

.l-tri-col.l-clear-two::after {
    content:'';
    clear:both;
    display:none;
}

.l-tri-col.l-clear-three::after {
    content:'';
    clear:both;
}

@media all and (max-width:991px) {
    .l-tri-col {
        width:50%;
    }
    .l-tri-col.l-clear-two::after {
        display:block;
    }
    .l-tri-col.l-clear-three::after {
        display:none;
    }
}

@media all and (max-width:767px) {
    .l-tri-col {
        width:100%;
    }
    .l-tri-col::after {
        display:none;
    }
}

@media all and (max-width:600px) {
    .l-row--all-tokens {
        padding-top:20px;
    }
}